body {
  text-align: center;
  /* padding-top: 200px; */
  background-color: deeppink;
  color: #fff;
  font-size: large;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);

  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 20px;

  text-transform: capitalize;
  font-size: large;
  color: blue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 600px;

  background-color: greenyellow;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 50px 30px;

  background-color: darkgoldenrod;
  border: 2px solid black;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
}
button {
  background-color: maroon;
  color: aliceblue;
  text-transform: uppercase;
  font-size: large;
}
button:not(:last-child) {
  margin-right: 20px;
}

@-webkit-keyframes flicker {
  50% {
    background-size: 7px 7px, 3px 3px;
  }
  100% {
    background-size: 3px 3px, 7px 7px;
  }
}
@keyframes flicker {
  50% {
    background-size: 7px 7px, 3px 3px;
  }
  100% {
    background-size: 3px 3px, 7px 7px;
  }
}
#blink3 {
  position: relative;
  font-weight: bold;
  color: #30084f;
}
#blink3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(greenyellow 1px, rgba(255, 255, 255, 0) 1px),
    radial-gradient(greenyellow 1px, rgba(255, 255, 255, 0) 1px);
  background-size: 3px 3px, 7px 7px;
  background-position: 0% 50%;
  -webkit-animation: flicker 0.5s linear infinite alternate;
  animation: flicker 0.5s linear infinite alternate;
}

@-webkit-keyframes blink6 {
  10% {
    transform: scale(1, 1) rotate(80deg);
  }
  20% {
    transform: scale(0, 0) rotate(160deg);
  }
  100% {
    transform: scale(0, 0) rotate(0deg);
  }
}
@keyframes blink6 {
  10% {
    transform: scale(1, 1) rotate(80deg);
  }
  20% {
    transform: scale(0, 0) rotate(160deg);
  }
  100% {
    transform: scale(0, 0) rotate(0deg);
  }
}
#blink6 {
  position: relative;
  display: inline-block;
  color: #064578;
  text-shadow: 0 0 10px #3d7a97;
}
#blink6:after,
#blink6:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 100px;
  background-image: radial-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 30%
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 49%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(0, 0, 0, 0) 51%
    ),
    linear-gradient(
      135deg,
      rgba(0, 0, 0, 0) 49%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(0, 0, 0, 0) 51%
    );
  -webkit-animation: blink6 10s linear infinite;
  animation: blink6 10s linear infinite;
  transform: scale(0, 0) rotate(0deg);
}
#blink6:before {
  top: -30%;
  right: 0;
  left: auto;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
